---
title: THE NERO
---

	<div data-sr="wait 0.8s, ease-in-out -100px" id="infos">
		<ul class="list-inline">
			<li><%= link_to "WORK", "index.html" %></li>
			<li><%= link_to "CONTACT", "index.html" %></li>
		</ul>
	</div>
	<div class="clearfix"></div>

	<div id="container">

		<section  id="intro">
			<div data-sr="wait 1s, ease-in-out 100px">
				<span  class="mono-title-1">- hello</span>
				<div id="presentation">
					<p><span class="grey">I’m</span> Marco Grimaldi <span class="grey">a passionate</span> Digital Art Director <span class="grey">&</span> Visual Designer<span class="grey"> with several years of experience, starting from the concept up to the final result. I'm a branding, typography and design lover.</span></p>
					<br><br>
					<p><span class="grey">I’m based in</span> London <span class="grey">and currently working as freelance.</span></p>
				</div>
			</div>		
			<span data-sr="wait 1.2s, ease-in-out 100px"class="mono-title-2">– FIND ME ON</span>
				<ul data-sr="wait 1.2s, ease-in-out 100px" class="list-inline">
					<li><%= link_to "FACEBOOK", "index.html" %></li>
					<li><%= link_to " - TWITTER", "index.html" %></li>
					<li><%= link_to " - BEHANCE", "index.html" %></li>
					<li><%= link_to " - LINKEDIN", "index.html" %></li>
				</ul>
		</section>
	</div>
		
	    <section id="works">

	    	<div id="projects">
	    		
	    		<h2>Selected Projects</h2>
	    		<span class="mono-title-3">- PROJECT LIST</span>

					<div class="model">
			    		<div class="list-model">
			    			<div class="left">
			    				<span class="projet-title">Seeweb</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>

						<div class="clearfix"></div>

			    		<div class="list-model">
			    			<div class="left">
			    				<span class="projet-title">Daft Punk: Inspire</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>

						<div class="clearfix"></div>

			    		<div class="list-model">
			    			<div class="left">
			    				<span class="projet-title">RSP Magazine</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>

						<div class="clearfix"></div>

			    		<div class="list-model">
			    			<div class="left">
			    				<span class="projet-title">Aritmologia</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>
			    		<div class="clearfix"></div>
		 				
		 				<div class="list-model">
			    			<div class="left">
			    				<span class="projet-title">Orticalab</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>
			    		<div class="clearfix"></div>

			    		<div class="list-model">
			    			<div class="left">
			    				<span class="projet-title">Judge Beauty</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>
			    		<div class="clearfix"></div>

			    		<div class="list-model">
			    			<div class="left">
			    				<span class="projet-title">Braccialini</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>
			    		<div class="clearfix"></div>

			    		<div class="list-model">
			    			<div class="left">
			    				<span class="projet-title">8 MDG</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>
			    		<div class="clearfix"></div>

			    		<div class="list-model">
			    			<div class="left">
			    				<span class="projet-title">Vino Latino</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>
			    		<div class="clearfix"></div>

			    		<div class="list-model border-bottom">
			    			<div class="left" >
			    				<span class="projet-title">Symmetry</span>
			    			</div>	
			    			<div class="right">
			    				<span class="year-title">y - 2015</span>
			    				<span class="arrow-right"><i class="fa fa-long-arrow-right"></i></span>
			    			</div>
			    		</div>
			    		<div class="clearfix"></div>
					</div>		
			</div>
	 	</section>

	    <section id="collaboration">
	    	<h2 class="mono-title-4">- Collaboration</h2>
	    	<p><span class="grey">In the last few years I worked and collaborated with agencies such as</span> Roll Studio<span class="grey">,</span> Unit9<span class="grey">,</span> Factoria<span class="grey">, &</span> many more.<br> 
			<span class="grey">Currently I’m available as freelance for projects and collaborations, do not hesitate to</span> <span class="underline">contact me</span></p>
	    </section>

	    <section id="awards">
	    	<div class="awards-title">
	    		<h2 class="normal-title">Awards & Honors</h2>
	    	</div>

	    	<div class="tableau"><!--YEAR 2015 -->
	    		<div class="left-2">
	    			<span class="mono-title-5">Y - 2015</span>
	    		</div>
	    		<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">awwwards</div>
	    				<div class="thenero">THENERO Ver. 3</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">02 OCT 2015</div>
	    				<div class="mention">Site of the Day</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">css reel</div>
	    				<div class="thenero">THENERO Ver. 3</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">26 SET 2015</div>
	    				<div class="mention">Winner of the Day</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">fwa</div>
	    				<div class="thenero">THENERO Ver. 3</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">23 SET 2015</div>
	    				<div class="mention">Public Shortlist</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">awwwards</div>
	    				<div class="thenero">THENERO Ver. 3</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">22 SET 2015</div>
	    				<div class="mention">Honorable Mentions</div>
	    			</div>
				</div>

				<div class="clearfix"></div>
	    	</div>

	    	<div class="tableau"><!--YEAR 2014 -->
	    		<div class="left-2">
	    			<span class="mono-title-5">Y - 2014</span>
	    		</div>
	    		<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">Design liks</div>
	    				<div class="thenero">THENERO Ver. 2</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">18 JAN 2014</div>
	    				<div class="mention">Winner of the Day</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">css reel</div>
	    				<div class="thenero">THENERO Ver. 2</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">16 JAN 2014</div>
	    				<div class="mention">Winner of the Day</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">css winner</div>
	    				<div class="thenero">THENERO Ver. 2</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">13 JAN 2014</div>
	    				<div class="mention">Winner of the Day</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">CSS DESIGN AWARD</div>
	    				<div class="thenero">THENERO Ver. 2</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">10 JAN 2014</div>
	    				<div class="mention">Winner of the Day</div>
	    			</div>
				</div>

				<div class="clearfix"></div>
	    	</div>

	    	<div class="tableau"><!--YEAR 2013 -->
	    		<div class="left-2">
	    			<span class="mono-title-5">Y - 2013</span>
	    		</div>
	    		<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">BEHANCE - PACKAGING SERVED</div>
	    				<div class="thenero">Vino Latino</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">30 AUG 2013</div>
	    				<div class="mention">Featured</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">ABDUZEEDO</div>
	    				<div class="thenero">The Collaborator Poster</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">25 JUL 2013</div>
	    				<div class="mention">Daily Inspiration</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">BEHANCE PORTFOLIO REVIEWS</div>
	    				<div class="thenero">Marco Grimaldi</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">11 JUL 2013</div>
	    				<div class="mention">Winner</div>
	    			</div>
				</div>

				<div class="clearfix"></div>
	    	</div>

	    	<div class="tableau"><!--YEAR 2012 -->
	    		<div class="left-2">
	    			<span class="mono-title-5">Y - 2012</span>
	    		</div>
	    		<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">Y–2012
	PWI (PREMIO WEB ITALIA)</div>
	    				<div class="thenero">Marco Grimaldi</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">5 NOV 2012</div>
	    				<div class="mention">Finalist Professional 2012</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">css reel</div>
	    				<div class="thenero">THENERO Ver. 3</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">26 SET 2015</div>
	    				<div class="mention">Winner of the Day</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">CSS REEL</div>
	    				<div class="thenero">Lotto MDG</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">1 AUG 2012</div>
	    				<div class="mention">Winner Of The Day</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2 border-bottom-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">WEBDESIGN INSPIRATION</div>
	    				<div class="thenero">TheNERO design Ver. 1</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">20 JEN 2012</div>
	    				<div class="mention">Featured</div>
	    			</div>
				</div>

				<div class="clearfix"></div>

				<div class="right-2">
	    			<div class="element-left">
	    				<div class="awards-exemple">CSS AWARDS</div>
	    				<div class="thenero">TheNERO design Ver. 1</div>
	    			</div>		
	    			<div class="element-right">
	    				<div class="date">3 JEN 2012</div>
	    				<div class="mention">Featured</div>
	    			</div>
				</div>
	    	</div>
	    </div>
	</section>
</div>

<script>
     window.sr = new scrollReveal();
 </script>
    





